[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/benchmark"]
	path = extern/benchmark
	url = https://github.com/google/benchmark.git
[submodule "extern/dfelibs"]
	path = extern/dfelibs
	url = https://github.com/acts-project/dfelibs.git
[submodule "extern/matplotplusplus"]
	path = extern/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus.git
[submodule "plugins/algebra_private"]
	path = plugins/algebra_private
	url = https://github.com/niermann999/algebra-plugins.git
